body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black, white);
}

.calc-container {
  height: 500px;
  width: 400px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  box-sizing: border-box;
  gap: 20px;
  border-radius: 20px;
  background: rgb(40, 40, 40); 
}

.calc-display {
  height: 100px;
  width: 360px;
  border-radius: 20px;
  background: #adb3b0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 20px;
  box-sizing: border-box;
}

.previous-operand {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .9);
}

.current-operand {
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.calc-buttons {
  height: 400px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  width: 80px;
  height: 60px;
  border-radius: 50%;
  font-size: x-large;
  font-weight: bolder;
  background: rgb(117, 117, 117);
  border: 2px solid black;
  color: #d1d1d1;
}
button:hover {
    background-color: rgba(255, 255, 255, .7);
    color: black;
}

button.equal-button {
  width: 170px;
  border-radius: 50px;
}




.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  gap: 10px;
}